In [15]:
import numpy as np

In [16]:
from numpy.random import randn

In [3]:
import pandas as pd

In [12]:
#index Level
outside    = ['G1','G1','G1','G2','G2','G2']
inside     =[1,2,3,1,2,3]
hier_index =list(zip(outside,inside))
hier_index =pd.MultiIndex.from_tuples(hier_index)

In [13]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [18]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [19]:
df

             A         B
G1 1  0.061145 -1.233642
   2 -0.233883  0.130702
   3 -0.079171 -1.371711
G2 1 -0.293118  1.333067
   2  0.677144  0.371866
   3 -0.563318  2.258397

In [22]:
df.loc['G1'].loc[1]

A    0.061145
B   -1.233642
Name: 1, dtype: float64

In [28]:
df.index.names = ['Group','Num']

In [29]:
df

                  A         B
Group Num
G1    1    0.061145 -1.233642
      2   -0.233883  0.130702
      3   -0.079171 -1.371711
G2    1   -0.293118  1.333067
      2    0.677144  0.371866
      3   -0.563318  2.258397

In [30]:
df.index.names

FrozenList(['Group', 'Num'])

In [35]:
df.loc['G2']

            A         B
Num
1   -0.293118  1.333067
2    0.677144  0.371866
3   -0.563318  2.258397

In [36]:
df.loc['G2'].loc[2,'B']

0.3718660037350326

In [37]:
df.xs('G1')

            A         B
Num
1    0.061145 -1.233642
2   -0.233883  0.130702
3   -0.079171 -1.371711

In [38]:
df

                  A         B
Group Num
G1    1    0.061145 -1.233642
      2   -0.233883  0.130702
      3   -0.079171 -1.371711
G2    1   -0.293118  1.333067
      2    0.677144  0.371866
      3   -0.563318  2.258397

In [39]:
df.xs(1,level='Num')

              A         B
Group
G1     0.061145 -1.233642
G2    -0.293118  1.333067