In [1]:
#First Main Datatype
#Series can Access using Label

In [6]:
import numpy as np

In [3]:
import pandas as pd

In [ ]:
pd.Series({'a':10,'b':20,'c':30})

In [9]:
label = ['a','b','c']
my_data=[10,20,30]
arr = np.array(my_data)
d= {'a':10,'b':20,'c':30}

In [29]:
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

#pd.Series(my_data,label) equal of pd.Series(data=my_data,index=label)

In [24]:
pd.Series(data=my_data , index=label)#should all of my_data and label are equal in shape of data

a    10
b    20
c    30
dtype: int64

In [10]:
np.shape(d)

()

In [30]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [31]:
pd.Series(d)# its great thing because it take key from dict and use it as index for values :)

a    10
b    20
c    30
dtype: int64

In [32]:
pd.Series(label)#it deal with almostof any datatype of python

0    a
1    b
2    c
dtype: object

In [34]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [20]:
ser = pd.Series(data=[sum,print,len])

In [21]:
ser[1]

In [18]:
echo = ser[1]

In [ ]:
echo("Ss")

In [40]:
ser1 = pd.Series([1,2,3,4],['eg','usa','tr','uae'])

In [41]:
ser1

eg     1
usa    2
tr     3
uae    4
dtype: int64

In [54]:
ser2 = pd.Series([1,2,5,6],['eg','usa','c','uae'])

In [44]:
ser2

a    1
b    2
c    5
d    6
dtype: int64

In [52]:
ser2['c']

5

In [55]:
ser1+ser2#first will look at index and will add to match each other and if not find will return nan &&
#and integer will converted to float

c       NaN
eg      2.0
tr      NaN
uae    10.0
usa     4.0
dtype: float64